---
interface Props {
  descBegin: string;
  descEnphasis: string;
  descEnd: string;
}

const { descBegin, descEnphasis, descEnd } = Astro.props;
---

<p class="mt-6 text-center text-lg leading-6 text-gray-600 dark:text-gray-200">
  {descBegin}
  <span class="opacity-70 hover:text-gray-950">{descEnphasis}</span>
  {descEnd}
</p>