---
interface Props {
  descBegin: string;
  descEnphasis: string;
  descEnd: string;
}

const { descBegin, descEnphasis, descEnd } = Astro.props;
---

<p class="mt-6 text-center text-lg leading-6 text-slate-500">
  {descBegin}
  <span class="opacity-70 text-neutral-950">{descEnphasis}</span>
  {descEnd}
</p>